body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: hsl(218, 23%, 16%);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
    width: 350px;
    height: 220px;
    background: hsl(217, 19%, 24%);
    padding: 20px 25px;
    border-radius: 10px;
    position: relative;
}

.content h1{
    color: hsl(150, 100%, 66%);
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.content p{
    font-size: 1.5rem;
    text-align: center;
    color: hsl(193, 38%, 86%);
    margin-bottom: 35px;
}


.content img{
    width: 100%;
}

.dado{
    background-color: hsl(150, 100%, 66%);
    width: 42px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 240px;
    left: 179px;
}

.dado:hover{
    box-shadow: 1px 7px 15px hsl(150, 100%, 66%);
}

.dado img{
    margin: 0 auto;
    cursor: pointer;
    width: 40%;
}